services:
  app:
    build:
      context: .
      target: stage
    ports:
      - "3000:3000"

  app-dev:
    build:
      context: .
      target: dev
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
    profiles:
      - dev

  app-prod:
    build:
      context: .
      target: prod
    ports:
      - "3000:3000"
    profiles:
      - prod
